<section class="about" id="about-me">
  <div class="container">
    <h2 class="about-title visually-hidden">About me</h2>
    <div class="about-top">
      <div class="about-top-content">
        <p class="about-top-text">
          I work with people all over the world to create impressive and
          <span class="about-top-text-blue">functional</span>
          <span class="about-top-text-grey">websites</span> that reflect each
          client's unique personality.
        </p>
      </div>
      <div class="about-top-image">
        <img
          class="about-img"
          sizes="(max-width: 1440px) 680px, (max-width: 768px) 704px, (max-width: 375px) 343px"
          srcset="
            ./img/mobile/about_me@2x.jpg   375w,
            ./img/tablet/about_me.jpg      704w,
            ./img/tablet/about_me@2x.jpg   768w,
            ./img/desktop/about_me.jpg     680w,
            ./img/desktop/about_me@2x.jpg 1440w
          "
          src="./img/mobile/about_me.jpg"
          alt="Man with laptop"
          width="343"
          height="500"
        />
      </div>
    </div>
    <ul class="about-info-list accordion-container">
      <li class="about-info-list-item ac">
        <div class="about-info-list-item-top ac-header">
          <h3 class="about-info-list-item-title">About me</h3>
          <button class="about-info-list-item-btn ac-trigger" type="button">
            <svg
              class="about-info-list-item-btn-down-icon active"
              width="18"
              height="18"
            >
              <use href="./img/icon.svg#icon-accordion_down"></use>
            </svg>
          </button>
        </div>
        <div class="about-info-list-item-content ac-panel active">
          <div class="about-info-list-item-text ac-text">
            <p class="about-info-list-item-text-unit">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages ​​and technologies, always ready
              to improve my skills. I always follow the latest trends and look
              for unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </p>
            <p class="about-info-list-item-text-unit">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work.I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </p>
          </div>
        </div>
      </li>

      <li class="about-info-list-item ac">
        <div class="about-info-list-item-top ac-header">
          <h3 class="about-info-list-item-title">Role</h3>
          <button class="about-info-list-item-btn ac-trigger" type="button">
            <svg
              class="about-info-list-item-btn-down-icon"
              width="18"
              height="18"
            >
              <use href="./img/icon.svg#icon-accordion_down"></use>
            </svg>
          </button>
        </div>
        <div class="about-info-list-item-content active ac-panel">
          <div class="about-info-list-item-text ac-text">
            <p class="about-info-list-item-text-unit">Frontend development</p>
            <p class="about-info-list-item-text-unit">HeadlessCMS,Wordpress</p>
            <p class="about-info-list-item-text-unit">Blender(enjoy)</p>
          </div>
        </div>
      </li>

      <li class="about-info-list-item ac">
        <div class="about-info-list-item-top ac-header">
          <h3 class="about-info-list-item-title">Education</h3>
          <button class="about-info-list-item-btn ac-trigger" type="button">
            <svg
              class="about-info-list-item-btn-down-icon"
              width="18"
              height="18"
            >
              <use href="./img/icon.svg#icon-accordion_down"></use>
            </svg>
          </button>
        </div>
        <div class="about-info-list-item-content active ac-panel">
          <div class="about-info-list-item-text ac-text">
            <p class="about-info-list-item-text-unit">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
            <p class="about-info-list-item-text-unit">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
            <p class="about-info-list-item-text-unit">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </div>
        </div>
      </li>
    </ul>
    <div class="about-skills-wrap">
      <div class="about-skills swiper">
        <ul class="about-skills-list swiper-wrapper">
          <li
            class="about-skills-list-item active scale-up-bottom swiper-slide"
          >
            HTML/CSS
          </li>
          <li class="about-skills-list-item scale-up-bottom swiper-slide">
            JavaScript
          </li>
          <li class="about-skills-list-item scale-up-bottom swiper-slide">
            React
          </li>
          <li class="about-skills-list-item scale-up-bottom swiper-slide">
            Node js
          </li>
          <li class="about-skills-list-item scale-up-bottom swiper-slide">
            React Native
          </li>
          <li class="about-skills-list-item scale-up-bottom swiper-slide">
            Soft skills
          </li>
          <li class="about-skills-list-item scale-up-bottom swiper-slide">
            HTML/CSS
          </li>
          <li class="about-skills-list-item scale-up-bottom swiper-slide">
            JavaScript
          </li>
          <li class="about-skills-list-item scale-up-bottom swiper-slide">
            React
          </li>
          <li class="about-skills-list-item scale-up-bottom swiper-slide">
            Node js
          </li>
          <li class="about-skills-list-item scale-up-bottom swiper-slide">
            React Native
          </li>
          <li class="about-skills-list-item scale-up-bottom swiper-slide">
            Soft skills
          </li>
        </ul>
      </div>

      <div class="about-skills-btn">
        <div class="about-skills-arrow">
          <svg class="about-skills-arrow-icon" width="28" height="28">
            <use href="./img/icon.svg#icon-swiper_right_icon"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
