<section id="covers">
  <div class="covers-sect">
    <h2 class="visually-hidden">Covers</h2>
    <div class="content">
      <ul class="marquee">
        <li class="marquee__inner marquee_6">
          <img
            class="marquee__line"
            src="./img/covers/covers6.png"
            srcset="
              ./img/covers/covers6.png     283w,
              ./img/covers/covers6@2x.png  566w,
              ./img/covers/covers6.png     544w,
              ./img/covers/covers6@2x.png 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers6"
          />

          <img
            class="marquee__line"
            src="./img/covers/covers9.jpg"
            srcset="
              ./img/covers/covers9.jpg     283w,
              ./img/covers/covers9@2x.jpg  566w,
              ./img/covers/covers9.jpg     544w,
              ./img/covers/covers9@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers9"
          />

          <img
            class="marquee__line"
            src="./img/covers/covers5.jpg"
            srcset="
              ./img/covers/covers5.jpg     283w,
              ./img/covers/covers5@2x.jpg  566w,
              ./img/covers/covers5.jpg     544w,
              ./img/covers/covers5@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers5"
          />

          <img
            class="marquee__line"
            src="./img/covers/rectangle4.jpg"
            srcset="
              ./img/covers/rectangle4.jpg     283w,
              ./img/covers/rectangle4@2x.jpg  566w,
              ./img/covers/rectangle4.jpg     544w,
              ./img/covers/rectangle4@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers7"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers1.jpg"
            srcset="
              ./img/covers/covers1.jpg     283w,
              ./img/covers/covers1@2x.jpg  566w,
              ./img/covers/covers1.jpg     544w,
              ./img/covers/covers1@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers1"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers2.png"
            srcset="
              ./img/covers/covers2.png     283w,
              ./img/covers/covers2@2x.png  566w,
              ./img/covers/covers2.png     544w,
              ./img/covers/covers2@2x.png 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers2"
          />
        </li>
        <li class="marquee__inner">
          <img
            class="marquee__line"
            src="./img/covers/covers1.jpg"
            srcset="
              ./img/covers/covers1.jpg     283w,
              ./img/covers/covers1@2x.jpg  566w,
              ./img/covers/covers1.jpg     544w,
              ./img/covers/covers1@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers1"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers2.png"
            srcset="
              ./img/covers/covers2.png     283w,
              ./img/covers/covers2@2x.png  566w,
              ./img/covers/covers2.png     544w,
              ./img/covers/covers2@2x.png 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers2"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers5.jpg"
            srcset="
              ./img/covers/covers5.jpg     283w,
              ./img/covers/covers5@2x.jpg  566w,
              ./img/covers/covers5.jpg     544w,
              ./img/covers/covers5@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers5"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers8.jpg"
            srcset="
              ./img/covers/covers8.jpg     283w,
              ./img/covers/covers8@2x.jpg  566w,
              ./img/covers/covers8.jpg     544w,
              ./img/covers/covers8@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers8"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers9.jpg"
            srcset="
              ./img/covers/covers9.jpg     283w,
              ./img/covers/covers9@2x.jpg  566w,
              ./img/covers/covers9.jpg     544w,
              ./img/covers/covers9@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers9"
          />
          <img
            class="marquee__line"
            src="./img/covers/rectangle4.jpg"
            srcset="
              ./img/covers/rectangle4.jpg     283w,
              ./img/covers/rectangle4@2x.jpg  566w,
              ./img/covers/rectangle4.jpg     544w,
              ./img/covers/rectangle4@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers7"
          />
        </li>
        <li class="marquee__inner marquee_9">
          <img
            class="marquee__line"
            src="./img/covers/covers5.jpg"
            srcset="
              ./img/covers/covers5.jpg     283w,
              ./img/covers/covers5@2x.jpg  566w,
              ./img/covers/covers5.jpg     544w,
              ./img/covers/covers5@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers5"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers10.jpg"
            srcset="
              ./img/covers/covers10.jpg     283w,
              ./img/covers/covers10@2x.jpg  566w,
              ./img/covers/covers10.jpg     544w,
              ./img/covers/covers10@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers10"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers4.png"
            srcset="
              ./img/covers/covers4.png     283w,
              ./img/covers/covers4@2x.png  566w,
              ./img/covers/covers4.png     544w,
              ./img/covers/covers4@2x.png 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers4"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers3.jpg"
            srcset="
              ./img/covers/covers3.jpg     283w,
              ./img/covers/covers3@2x.jpg  566w,
              ./img/covers/covers3.jpg     544w,
              ./img/covers/covers3@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers3"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers6.png"
            srcset="
              ./img/covers/covers6.png     283w,
              ./img/covers/covers6@2x.png  566w,
              ./img/covers/covers6.png     544w,
              ./img/covers/covers6@2x.png 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers6"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers1.jpg"
            srcset="
              ./img/covers/covers1.jpg     283w,
              ./img/covers/covers1@2x.jpg  566w,
              ./img/covers/covers1.jpg     544w,
              ./img/covers/covers1@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers1"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers9.jpg"
            srcset="
              ./img/covers/covers9.jpg     283w,
              ./img/covers/covers9@2x.jpg  566w,
              ./img/covers/covers9.jpg     544w,
              ./img/covers/covers9@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers9"
          />
        </li>
        <li class="marquee__inner marquee_6">
          <img
            class="marquee__line"
            src="./img/covers/covers2.png"
            srcset="
              ./img/covers/covers2.png     283w,
              ./img/covers/covers2@2x.png  566w,
              ./img/covers/covers2.png     544w,
              ./img/covers/covers2@2x.png 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers2"
          />
          <img
            class="marquee__line"
            src="./img/covers/rectangle4.jpg"
            srcset="
              ./img/covers/rectangle4.jpg     283w,
              ./img/covers/rectangle4@2x.jpg  566w,
              ./img/covers/rectangle4.jpg     544w,
              ./img/covers/rectangle4@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers7"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers10.jpg"
            srcset="
              ./img/covers/covers1.jpg     283w,
              ./img/covers/covers1@2x.jpg  566w,
              ./img/covers/covers1.jpg     544w,
              ./img/covers/covers1@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers10"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers5.jpg"
            srcset="
              ./img/covers/covers5.jpg     283w,
              ./img/covers/covers5@2x.jpg  566w,
              ./img/covers/covers5.jpg     544w,
              ./img/covers/covers5@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers5"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers8.jpg"
            srcset="
              ./img/covers/covers8.jpg     283w,
              ./img/covers/covers8@2x.jpg  566w,
              ./img/covers/covers8.jpg     544w,
              ./img/covers/covers8@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers8"
          />
          <img
            class="marquee__line"
            src="./img/covers/rectangle4.jpg"
            srcset="
              ./img/covers/rectangle4.jpg     283w,
              ./img/covers/rectangle4@2x.jpg  566w,
              ./img/covers/rectangle4.jpg     544w,
              ./img/covers/rectangle4@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers7"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers2.png"
            srcset="
              ./img/covers/covers2.png     283w,
              ./img/covers/covers2@2x.png  566w,
              ./img/covers/covers2.png     544w,
              ./img/covers/covers2@2x.png 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers2"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers4.png"
            srcset="
              ./img/covers/covers4.png     283w,
              ./img/covers/covers4@2x.png  566w,
              ./img/covers/covers4.png     544w,
              ./img/covers/covers4@2x.png 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers4"
          />
        </li>
        <li class="marquee__inner marquee_9">
          <img
            class="marquee__line"
            src="./img/covers/covers9.jpg"
            srcset="
              ./img/covers/covers9.jpg     283w,
              ./img/covers/covers9@2x.jpg  566w,
              ./img/covers/covers9.jpg     544w,
              ./img/covers/covers9@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers9"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers4.png"
            srcset="
              ./img/covers/covers4.png     283w,
              ./img/covers/covers4@2x.png  566w,
              ./img/covers/covers4.png     544w,
              ./img/covers/covers4@2x.png 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers4"
          />

          <img
            class="marquee__line"
            src="./img/covers/covers6.png"
            srcset="
              ./img/covers/covers6.png     283w,
              ./img/covers/covers6@2x.png  566w,
              ./img/covers/covers6.png     544w,
              ./img/covers/covers6@2x.png 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers6"
          />
          <img
            class="marquee__line"
            src="./img/covers/covers3.jpg"
            srcset="
              ./img/covers/covers3.jpg     283w,
              ./img/covers/covers3@2x.jpg  566w,
              ./img/covers/covers3.jpg     544w,
              ./img/covers/covers3@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers3"
          />
        </li>
        <li class="marquee__inner marquee_9">
          <img
            class="marquee__line"
            src="./img/covers/covers10.jpg"
            srcset="
              ./img/covers/covers10.jpg     283w,
              ./img/covers/covers10@2x.jpg  566w,
              ./img/covers/covers10.jpg     544w,
              ./img/covers/covers10@2x.jpg 1088w
            "
            sizes="
            (min-width: 1440px) 544px, 
            (min-width: 768px) 544px, 
            (max-width: 767px) 283px"
            alt="covers10"
          />
        </li>
      </ul>
    </div>
  </div>
  <!-- Кнопка скрола вгору -->
  <a class="btn-top">
    <img src="./img/covers_elements/up.png" alt="To top" />
  </a>
  <!-- Кнопка скрола вгору -->
</section>
