<section id="footer-work-together" class="footer">
  <div class="container">
    <div class="footer_main">
      <img
        class="footer_logo"
        sizes="(min-width: 1440px) 80px, (min-width: 768px) 80px, (max-width: 768px) 44px"
        srcset="
          ./img/mobile/footer_logo.png     44w,
          ./img/mobile/footer_logo@2x.png  88w,
          ./img/desktop/logo.png           80w,
          ./img/desktop/logo@2x.png       160w
        "
        src="./img/mobile/footer_logo.png"
        alt="footerLogo"
      />
      <h2 class="footer_title">
        Let’s <span class="footer_title_work">work</span>
      </h2>
      <span class="footer_title_together">together</span>
    </div>
    <form class="footer_form">
      <label for="email" class="form_label label_email"
        >Email:
        <input
          type="email"
          id="email"
          name="email"
          class="footer_form_input footer_form_input_email"
          autocomplete="off"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          required
        />
        <div class="status">
          <p class="succes hidden">Succes!</p>
          <p class="invalid hidden">Invalid email, try again</p>
        </div>
      </label>
      <label for="comments" class="form_label"
        >Comments:
        <input
          type="text"
          id="comments"
          name="comments"
          class="footer_form_input footer_form_input_comment"
          autocomplete="off"
        />
      </label>
      <button type="submit" class="footer_form_btn">Send</button>
    </form>
    <ul class="footer_list">
      <li class="footer_list_item_mail">
        <a class="footer_links" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
      <li class="footer_list_item_numb">
        <a class="footer_links" href="tel:+3801111111111">+380 11 1111 11 11</a>
      </li>
    </ul>
  </div>

  <div class="footer_modal_container">
    <div class="footer_modal">
      <button class="footer_modal_btn_icon" type="button">
        <svg class="footer_modal_svg" width="22" height="22">
          <use href="./img/icon.svg#icon-modal-close"></use>
        </svg>
      </button>
      <div class="footer_modal_text">
        <h2 class="footer_modal_text_first">
          Thank you for your interest in cooperation!
        </h2>
        <p class="footer_modal_text_second">
          The manager will contact you shortly to discuss further details and
          opportunities for cooperation. Please stay in touch.
        </p>
      </div>
    </div>
  </div>
</section>
