<header class="main-page" id="header">
  <div class="header-container container">
    <nav class="header-navigation">
      <img
        class="logo"
        src="./img/desktop/logo.png"
        srcset="./img/desktop/logo@2x.png 2x"
        alt="logotype"
      />
      <p class="logo-text">jefferson*</p>
      <button class="menu-button line" type="button">Menu</button>
      <ul class="menu-list">
        <li class="menu-item">
          <a class="menu-link close-link" href="#about-me"> About me</a>
        </li>
        <li class="menu-item">
          <a class="menu-link close-link" href="#benefits">Benefits</a>
        </li>
        <li class="menu-item">
          <a class="menu-link close-link" href="#projects">Projects</a>
        </li>
        <li class="menu-item">
          <a class="menu-link close-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <button class="order-btn" type="button">Order the project</button>
    <button class="burger-btn" type="button">
      <svg class="burger-btn-icon" width="28" height="28">
        <use href="./img/icon.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
<!-- Mobile MENU -->
<div class="mobile-menu visually-hidden">
  <div class="container mobile-container">
    <button class="mobile-close-btn" type="button">
      <svg class="mobile-close-btn-icon">
        <use href="./img/icon.svg#icon-modal-close"></use>
      </svg>
    </button>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link mobile-menu-link-item" href="#about-me">
            About me</a
          >
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link mobile-menu-link-item" href="#benefits"
            >Benefits</a
          >
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link mobile-menu-link-item" href="#projects"
            >Projects</a
          >
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link mobile-menu-link-item" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <button class="mobile-order-btn" type="button">Order the project</button>
  </div>
</div>
