<section class="hero_section" id="hero">
  <div class="container">
    <h1 class="title">
      Hello.<br />
      I’m Fullstack developer <br />
      Lloyd Jefferson.
    </h1>
    <ul class="social_list">
      <li class="social_list_item">
        <a
          class="social_list_link"
          target="_blank"
          rel="noopener"
          href="https://www.instagram.com/goitclub/"
          >IG</a
        >
      </li>
      <li class="social_list_item">
        <a
          class="social_list_link"
          target="_blank"
          rel="noopener"
          href="https://www.facebook.com/goITclub/"
          >FB</a
        >
      </li>
      <li class="social_list_item">
        <a
          class="social_list_link"
          target="_blank"
          rel="noopener"
          href="https://www.youtube.com/c/GoIT"
          >YT</a
        >
      </li>
      <li class="social_list_item">
        <a
          class="social_list_link"
          target="_blank"
          rel="noopener"
          href="https://github.com/PandaTrumpet/WebSpidersNew/"
          >GH</a
        >
      </li>
      <li class="social_list_item">
        <a
          class="social_list_link"
          target="_blank"
          rel="noopener"
          href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
