<section id="projects" class="projects-section">
<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->

        <ul class="list-slides">
            <li class="list-items">
                <div class="swiper-slide-first">
                    
                    <div class="about-projects"><ul class="list-skills">
                    <li class="skill"> <p class="text-skills">#react</p> </li>
                    <li class="skill"> <p class="text-skills">#js</p> </li>
                    <li class="skill"> <p class="text-skills">#node js</p> </li>
                    <li class="skill"> <p class="text-skills">#git</p> </li>
                    </ul>
                    <p class="text-card">Programming Across Borders: Ideas, Technologies, Innovations</p>
                    <div class="cont-btn">
                    <button class="button-card"><a href="#footer-work-together" class="text-button">See project</a>
                    </button></div>
                 </div>

                    <div class="img-cont">
                        <img class="img-first" src="../img/desktop/projects1.png" alt="test">
</div>
                    </div>
                </div>
            </li>

            <li>
                <div class="swiper-slide">Slide 2</div>
            </li>

            <li>
                <div class="swiper-slide">Slide 3</div>
            </li>

        </ul>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-next">
            <button>👉🏻</button>
        </div>
        <div class="swiper-button-prev"><button>👈🏻</button>
        </div>
    </div>

   

</section>