<section class="proj-section" id="projects">
    <div class="container">
        <h2 class="projects-title">Projects</h2>
        <div class="swiper main-swiper-container">
          
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="about-projects">
                        <ul class="list-skills">
                            <li class="skill react">#react</li>
                            <li class="skill js">#js</li>
                            <li class="skill node">#node</li>
                            <li class="skill git">#git</li>
                        </ul>
                        <p class="text-card">Programming Across Borders: Ideas, Technologies, Innovations</p>
                        <button class="cont-btn button-card"><a class="text-button" target="_blank" href="https://github.com/PandaTrumpet/WebSpidersNew">See project</a></button>
                    </div>

                    <div class="img-cont">
                        <img src="./img/desktop/projects1.png" width="614" height="385"
                            alt="About our projects" class="img-first">
                        </div>
                </div>

                <div class="swiper-slide">
                    <div class="about-projects">
                        <ul class="list-skills">
                            <li class="skill react">#react</li>
                            <li class="skill js">#js</li>
                            <li class="skill node">#node</li>
                            <li class="skill git">#git</li>
                        </ul>
                        <p class="text-card">Programming Across Borders: Ideas, Technologies, Innovations</p>
                        <button class="cont-btn button-card"><a class="text-button" target="_blank" href="https://github.com/PandaTrumpet/WebSpidersNew">See project</a></button>
                    </div>
                    <div class="img-cont"><img src="./img/desktop/projects2.png" width="614" height="385"
                            alt="About love to pets" class="img-first"></div>
                </div>

                <div class="swiper-slide">
                    <div class="about-projects">
                        <ul class="list-skills">
                            <li class="skill react">#react</li>
                            <li class="skill js">#js</li>
                            <li class="skill node">#node</li>
                            <li class="skill git">#git</li>
                        </ul>
                        <p class="text-card">Programming Across Borders: Ideas, Technologies, Innovations</p>
                        <button class="cont-btn button-card"><a class="text-button" target="_blank" href="https://github.com/PandaTrumpet/WebSpidersNew">See project</a></button>
                    </div>
                    <div class="img-cont"><img src="./img/desktop/projects3.png" width="614" height="385"
                            alt="About registration" class="img-first"></div>
                </div>
            </div>
          
            <div class="navi">
               
                <button class="swiper-button-prev btn-p prev" id="bfr_btn">
                
                    <svg class="icon-prev" width="32" height="32">
                        <use href="./img/icon.svg#icon-swiper_right_icon"></use>
                    </svg>
            
</button>
                <button class="swiper-button-next btn-n next" id="nxt_btn">
                
                    <svg class="icon-next" width="32" height="32">
                        <use href="./img/icon.svg#icon-swiper_right_icon"></use>
                    </svg>
        
            </button>
    </div>
</section>
