<section>
    <div class="container">
        <h2 class="projects-title">Projects</h2>
        <div class="swiper">
            <!-- Additional required wrapper  -->
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="about-projects">
                        <ul class="list-skills">
                            <li class="skill react">#react</li>
                            <li class="skill js">#js</li>
                            <li class="skill node">#node</li>
                            <li class="skill git">#git</li>
                        </ul>
                        <p class="text-card">Programming Across Borders: Ideas, Technologies, Innovations</p>
                        <button class="cont-btn button-card"><a class="text-button" href="">See project</a></button>
                    </div>

                    <div class="img-cont">
                        <img src="./img/desktop/projects1.png" width="614" height="385"
                            alt="" class="img-first">
                        </div>
                </div>

                <div class="swiper-slide">
                    <div class="about-projects">
                        <ul class="list-skills">
                            <li class="skill react">#react</li>
                            <li class="skill js">#js</li>
                            <li class="skill node">#node</li>
                            <li class="skill git">#git</li>
                        </ul>
                        <p class="text-card">Programming Across Borders: Ideas, Technologies, Innovations</p>
                        <button class="cont-btn button-card"><a class="text-button" href="">See project</a></button>
                    </div>
                    <div class="img-cont"><img src="../img/desktop/projects2.png" width="311" height="195"
                            alt="" class="img-first"></div>
                </div>

                <div class="swiper-slide">
                    <div class="about-projects">
                        <ul class="list-skills">
                            <li class="skill react">#react</li>
                            <li class="skill js">#js</li>
                            <li class="skill node">#node</li>
                            <li class="skill git">#git</li>
                        </ul>
                        <p class="text-card">Programming Across Borders: Ideas, Technologies, Innovations</p>
                        <button class="cont-btn button-card"><a class="text-button" href="">See project</a></button>
                    </div>
                    <div class="img-cont"><img src="../img/desktop/projects3.png" width="311" height="195"
                            alt="" class="img-first"></div>
                </div>
            </div>
            <!-- If we need pagination  -->
            <div class="swiper-pagination"></div>
            <div class="navi">
                <div class="swiper-button-prev" id="before">
                    <svg class="projects_icon" width="32" height="32">
                        <use href="../img/icon.svg#icon-swiper_right_icon">

                        </use>
                    </svg>
                </div>
                <div class="swiper-button-next" id="next">
                    <svg width="32" height="32">
                        <use href="../img/icon.svg#icon-swiper_right_icon">

                        </use>
                    </svg>
                </div>

            </div>
            <!-- Стрелки  -->

            <!-- If we need scrollbar  -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>