<section id="reviews">
  <div class="container">
    <h2 class="reviews-title">reviews</h2>
    <div class="swiper swiper-container">
      <div class="swiper-wrapper swiper-list-container">
        <ul class="swiper-list"></ul>
      </div>
      <div class="swiper-pagination"></div>
      <div class="navi_r">
        <div class="swiper-button-prev btn_prev" id="before_btn">
          <svg class="icon-prev skills-arrow" width="32" height="32">
            <use href="./img/icon.svg#icon-swiper_right_icon"></use>
          </svg>
        </div>
        <div class="swiper-button-next btn_next" id="next_btn">
          <svg class="icon-next skills-arrow" width="32" height="32">
            <use href="./img/icon.svg#icon-swiper_right_icon"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
