<section id="reviews">
  <div class="container">
    <h2 class="reviews-title">reviews</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <ul class="swiper-list">
          <li data-hash="slide" class="swiper-slide"></li>
        </ul>
      </div>
      <div class="swiper-pagination"></div>
      <div class="navi">
        <div class="swiper-button-prev" id="before">
          <svg class="icon-prev" width="32" height="32">
            <use href="../img/icon.svg#icon-swiper_right_icon"></use>
          </svg>
        </div>
        <div class="swiper-button-next" id="next">
          <svg class=".icon-next" width="32" height="32">
            <use href="../img/icon.svg#icon-swiper_right_icon"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
