/* MOBILE STYLE */
 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

.main-page{
    padding-top: 32px;
    /* position: absolute; */
    background: inherit;
} 
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-navigation{
    display: flex;
    gap: 8px;
}
.menu-list {
    display: none;
}
.order-btn {
    display: none;
}
.menu-button {
    display: none;
}
.burger-btn {
    display: flex;
    justify-content: center;
    border: none;
    background: transparent;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke: rgb(250, 250, 250);
}
.mobile-menu{
position: fixed;
top:0;
left:0;
width: 100%;
height: 100%;
z-index: 999999999;
transform: translateX(0%);
background: linear-gradient(90.00deg, rgb(28, 29, 32) 49.712%, rgb(0, 25, 88) 67.655%, rgb(0, 65, 232) 99.721%);
transition: transform 250ms linear;
}

.mobile-menu-list{
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 12px;
align-items: center;
}
.mobile-container{
    display: flex;
    position: relative;
    height: 100%;
    width: 375px;
    flex-direction: column;
    gap: 50px;
}
.mobile-menu-nav{
margin-top: auto;
margin-bottom: auto;
}

.mobile-close-btn-icon{
    width: 28px;
    height: 28px;
}
.mobile-close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    top:32px;
    right: 16px;
}
.logo{
    border-radius: 18px;
    width: 80px;
    height: 80px;
}
.mobile-order-btn{
    width: 164px;
    height: 45px;
    border: none;
    border-radius: 60px;
    background-color: rgb(0, 65, 232);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 64px;
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.21;
     letter-spacing: -2%;
    text-align: center;
}
.mobile-order-btn:hover{
    transform: scale(1.1);
    background-color:rgba(59, 59, 59, 0.2);
}
.mobile-menu-link{
color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 14px;
    font-weight: 500;
    line-height: -1.18em;
}
 .mobile-menu-link-item{
    position: relative;
 }
.mobile-menu-link-item::after {
position: absolute;
content: "";
background-color: #FFFFFF;
display: block;
height: 1px;
width: 100%;
bottom: -1px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

/************************** TABLET STYLE **********************************/
@media screen and (min-width: 768px) {
    .container {
        max-width: 704px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .burger-btn{
        display: none;
    }
    .menu-button{
    display: block;
    background-color: inherit;
    border: none;
    color: rgb(250, 250, 250);
    height: 39px;
    align-items: center;
    margin: 0 160px;
    
}
    .line{
    position: relative;
    }
    .line::after{
    position: absolute;
    content: "";
    background-color: #FFFFFF;
    display: block;
    height: 1px;
    width: 39px;
    bottom: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        .order-btn {
            display: block;
            width: 163px;
            height: 55px;
            border: none;
            border-radius: 60px;
            background-color: rgb(0, 65, 232);
            color: rgb(250, 250, 250);
            font-family: Inter Tight;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.19;
            letter-spacing: -2%;
            text-align: center;
        }
         .order-btn:hover {
            transform: scale(1.1);
            background-color: rgba(59, 59, 59, 0.2);
                }
                .menu-list {
                    display: none;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    color: #FFFFFF;
                    background-color: inherit;
                    z-index: 1000;
                    flex-direction: column;
                    gap: 12px;
                    align-items: center;
                   margin-top: 80px;
                }
                .menu-list.active {
                   display: flex;
                    background-color: inherit;
                }
            
}
/****************************** Desktop Style******************/
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1376px;
    }
.menu-button{
    margin: 0 497px;
}
}