.hero_section {
  background-image: url('../img/Glass_effect/glass_effect_blue_hero.png');
  background-repeat: no-repeat;
  background-size: 60% 100%;
  min-height: 812px;
}

@media screen and (min-resolution: 192dpi) {
  .hero_section {
    background-image: url('../img/Glass_effect/glass_effect_blue_hero@2x.png');
  }
}
.title {
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
  max-width: 600px;
  padding: 281px 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.social_list {
  display: flex;
  gap: 4px;
  margin: 0;
  justify-content: flex-end;
  padding-bottom: 32px;
}
.social_list_item {
  display: flex;
  border: 1px solid #0035e6;
  border-radius: 60px;
  margin: 0;
  height: 37px;
  width: 37px;
  transition: transform 300ms ease;
}
.social_list_item:hover,
.social_list_item:focus {
  transform: scale(1.1);
}
.social_list_item:last-child {
  width: 178px;
}
.social_list_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.02em;
  text-align: center;
}
@media screen and (max-width: 374px) {
  .social_list {
    display: flex;
    gap: 3px;
    justify-content: center;
  }
  .social_list_item {
    width: 30px;
    height: 30px;
  }
  .social_list_item:last-child {
    width: 160px;
  }
}

/*///////////// TABLET STYLES ////////////*/

@media screen and (min-width: 768px) {
  .title {
    font-size: 90px;
    font-weight: 500;
    line-height: 90px;
    letter-spacing: -0.03em;
    text-align: left;
    padding: 300px 0 274px 0;
  }
  .social_list {
    gap: 8px;
    right: 32px;
  }
  .social_list_item {
    width: 55px;
    height: 55px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
  }
  .social_list_item:last-child {
    width: 223px;
  }
}

/*///////////// DESKTOP STYLES ////////////*/

@media screen and (min-width: 1440px) {
  .title {
    text-align: left;
    padding: 300px 0 330px 0;
    max-width: 1084px;
  }
}
